.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  flex-shrink: 0;

  padding: 1rem 2.25rem;

  border-bottom: 1px solid var(--border-subtle);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    background-image: linear-gradient(#bf96ff -96.79%, #fff0);
  }
}
@media (max-width: 420px) {
  .header {
    padding: 0.5rem;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .right {
    gap: 0.5rem;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
